// bower:scss
// endbower

@import 'reset';

body {
  background-color: #303030;
  font-family: 'Oswald', sans-serif;
  padding: 0;
}

.absolute-center {
  bottom: 0;
  height: 86px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; 
  width: 246px;
}

main {
  display: flex;
}

nav {
  background: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  padding: 2px;

  .hamburger {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB2ZXJzaW9uPScxLjEnIHg9JzBweCcgeT0nMHB4JyB3aWR0aD0nMThweCcgaGVpZ2h0PScxOHB4JyB2aWV3Qm94PScwIDAgMTggMTgnIGVuYWJsZS1iYWNrZ3JvdW5kPSduZXcgMCAwIDE4IDE4JyB4bWw6c3BhY2U9J3ByZXNlcnZlJz48cmVjdCB3aWR0aD0nMTgnIGhlaWdodD0nMicgZmlsbD0nIzU2NTY1NicvPjxyZWN0IHk9JzYnIHdpZHRoPScxOCcgaGVpZ2h0PScyJyBmaWxsPScjNTY1NjU2Jy8+PHJlY3QgeT0nMTInIHdpZHRoPScxOCcgaGVpZ2h0PScyJyBmaWxsPScjNTY1NjU2Jy8+PC9zdmc+');
    background-size: contain;
    cursor: pointer;
    float: left;
    height: 18px;
    margin: 16px 14px 0; 
    width: 18px;

  }
}


/*.nav-trigger {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

label[for="nav-trigger"] {
  left: 15px;
  //position: fixed;
  top: 15px;
  //z-index: 2;
  display: 
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' fill='white'/><rect y='24' width='30' height='6' fill='white'/><rect y='12' width='30' height='6' fill='white'/></svg>");
  background-size: contain;
}*/

.vendor-list-holder {
  .name {
    background: #424242;
    bottom: 0;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    padding: 2px 8px;
    position: absolute;
    width: 200px;
  }

  .vendor {
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    height: 200px;
    margin: 15px 0 0 15px;
    overflow: hidden;
    position: relative;
    width: 200px;
  }

}
